<!DOCTYPE html>
<html class="rwd" lang="en" style="opacity: 1;">
	<head>
        {{>indexHead}}
    </head>
    <body>
        {{>indexHeader}}
        {{>mainWeather}}
        {{>footer}}
    </body>
</html>