<main>
    <ul class="flex-container">
        <li class="fli-left">
            <h1>{{mainTitle}}</h1>
        </li>
         <li class="fli-left">
            <p id="about">This site was created by sdeferme. It used data from mapbox.com and darksky.net</p>
            <img src="/img/rebuke_along_came_polly.png">
        </li>
    </ul>
</main>