<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper z-depth-5">
                <div class="nav-div">
                    <ul class="nav-ul">
                        <li class="nav-li"><span class="3d">Weather App</span></li>
                    </ul>
                </div>
            </div>
            <ul class="nav-ul">
                <li><a href="/">Weather</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</header>