<meta charset='UTF-8'>
<title>Nodejs</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<link id="table-day" rel="stylesheet" href="res/css/jquery.dataTables-day.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link id="day" type="text/css" rel="stylesheet" href="res/css/inbound-day.css"/>
<link type="text/css" rel="stylesheet" href="res/css/text-flow.css"/>