<main>
    <ul class="flex-container">
        <li class="fli-left">
            <div style="margin-top:20px;">
                <form>
                    <input placeholder="Location">
                    <button class="btn-table">Search</button>
                </form>
            </div>
        </li>
    </ul>
    <ul class="flex-container">
        <li class="fli-left">
            <p id="place"></p>
            <img id="icon" src="">
            <p id="time"></p>
            <p id="summary"></p>
            <p id="temperature"></p>
            <p id="apparentTemperature"></p>
            
            <p id="precipPobability"></p>
            <p id="precipType"></p>
            <p id="humidity"></p>
            <p id="pressure"></p>
            <p id="windSpeed"></p>
            <p id="uvIndex"></p>
            <p id="ozone"></p>
        </li>
    </ul>
</main>
<script src="js/app-public.js"></script>