<main>
    <ul class="flex-container">
        <li class="fli-left">
            <div style="margin-top:20px;">
                <form>
                    <input placeholder="Location">
                    <button class="btn-table">Search</button>
                </form>
            </div>
        </li>
    </ul>
    <ul class="flex-container">
        <div class="currentDetailsWrapper">
            <div class="center">
                <div id="title">
                    <span class="currently">
                        <span class="clear-day-icon-currently currently-icon swap">
                            <img id="icon" src="">
                        </span>
                        <span class="desc swap">
                            <span class="summary swap" id="current"></span>
                            <span class="summary-high-low">
                                <span id="feels"></span>
                                <span id="low"></span>
                                <span id="high"></span>
                                </span>
                        </span>
                    </span>
                    <span class:"next swap" id="dailySummary"></span>
                </div>
            </div>
        </div>
   <!--     <li class="fli-left">
            <p id="place"></p>
            <img id="icon" src="">
            <p id="current"></p>
            <p id="dailySummary"></p>
            <p id="temperatures"></p>
            <p id="time"></p>
            <p id="humidity"></p>
            <p id="pressure"></p>
            <p id="windSpeed"></p>
            <p id="uvIndex"></p>
            <p id="ozone"></p>
        </li>-->
    </ul>
</main>
<script src="js/app-public.js"></script>